/* whiteboard.css */
body {
    margin: 0;
}

#canvas-container {
    position: relative; /* Add this line */
    width: 100%;
    height: 100%;
    /* margin-left: 250px; Remove this line */
}

#toolbar {
    position: absolute; /* Change to absolute */
    top: 10px;
    left: 10px;
    z-index: 100; /* Assure que la barre d'outils est au-dessus du canvas */
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

#canvas {
    cursor: grab;
    
}

#zoom-indicator {
    position: absolute; /* Change to absolute */
    bottom: 10px;
    left: 10px;
    z-index: 100;
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
}
