<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOOVA – Logiciel Optimisé pour l’Organisation et la Visibilité des Activités</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% if not session['user_id'] %}
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='whiteboard.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block extra_head %}
    {% endblock %}
</head>
<body class="{% if not session['user_id'] %}landing-page{% endif %}{% block body_class %}{% endblock %}">
    <div class="app-container">
        {% if session['user_id'] %}
        <aside class="sidebar">
            <div class="sidebar-brand">LOOVA</div>
            <nav id="sidebar-content" id="sidebar">
                <ul>
                    <li class="{% if current_page == 'Accueil' %}active{% endif %}">
                        <a href="{{ url_for('users.index') }}">
                            <i class="fas fa-home sidebar-icon"></i>
                            <span class="sidebar-text">Accueil</span>
                        </a>
                    </li>
                    <li class="{% if current_page == 'Projets' %}active{% endif %}">
                        <a href="{{ url_for('projets.projets') }}">
                            <i class="fas fa-tasks sidebar-icon"></i>
                            <span class="sidebar-text">Projets</span>
                        </a>
                    </li>
                    <li class="{% if current_page == 'Comptabilité' %}active{% endif %}">
                        <a href="{{ url_for('compta.index') }}">
                            <i class="fas fa-money-bill-wave sidebar-icon"></i>
                            <span class="sidebar-text">Comptabilité</span>
                        </a>
                    </li>
                    <li class="{% if current_page == 'CRM' %}active{% endif %}">
                        <a href="{{ url_for('clients.clients') }}">
                            <i class="fas fa-user-group sidebar-icon"></i>
                            <span class="sidebar-text">CRM</span>
                        </a>
                    </li>
                    <li class="{% if current_page == 'Paramètres' %}active{% endif %}">
                        <a href="">
                            <i class="fas fa-wrench sidebar-icon"></i>
                            <span class="sidebar-text">Parmètres</span>
                        </a>
                    </li>
                    {% block sidebar %}
                    {% endblock %}
                </ul>
            </nav>
        </aside>
        {% endif %}

        <main class="main-content">
            {% if session['user_id'] %}
            <header class="navbar" id="main-navbar">
                <div id="navbar-title" class="navbar-title-container">
                    {% block page_title %}
                        <h1>Bienvenue sur LOOVA</h1>
                    {% endblock %}
                    {% block page_subtitle %}
                    {% endblock %}
                </div>

                <nav id="navbarNav">
                    <li class="nav-item">
                        {% block navbar_actions %}
                        {% endblock %}
                    </li>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mon Compte
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" id="userDropdownMenu">
                                <a class="dropdown-item" href="{{ url_for('users.modifier_profil') }}">Modifier mon profil</a>
                                <a class="dropdown-item" href="{{ url_for('organisations.modifier_organisation') }}">Modifier mon organisation</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('users.logout') }}">Déconnexion</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                
            </header>
            {% endif %}

            <div class="content default-content-padding">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            {% if not session['user_id'] %}
            <footer class="landing-footer">
                <div class="footer-links">
                    &copy; 2024 LOOVA
                </div>
                    <div class="footer-copyright">
                        <a href="#">Conditions d'utilisation</a>
                        <span class="dot-separator">&middot;</span>
                        <a href="#">Politique de confidentialité</a>
                        <span class="dot-separator">&middot;</span>
                        <a href="#">Contact</a>
                    </div>
            </footer>
            {% endif %}
        </main>
    </div>
</body>
</html>
