<!-- c:\wamp\www\mon_compta_app\templates\modifier_organisation.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Modifier l'organisation</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="designation">Désignation:</label>
            <input type="text" class="form-control" id="designation" name="designation" value="{{ organisation.designation }}" required>
        </div>
        <div class="form-group">
            <label for="siret">Numéro SIRET:</label>
            <input type="text" class="form-control" id="siret" name="siret" value="{{ organisation.siret }}" required>
        </div>

        <div class="form-group">
            <label for="exonere_tva">Exonéré de TVA:</label>
            <input type="checkbox" id="exonere_tva" name="exonere_tva" {% if organisation.exonere_tva %}checked{% endif %} onchange="toggleTvaField()">
        </div>

        <div class="form-group" id="tva_field" {% if organisation.exonere_tva %}style="display: none;"{% endif %}>
            <label for="tva_intracommunautaire">Numéro TVA Intracommunautaire:</label>
            <input type="text" class="form-control" id="tva_intracommunautaire" name="tva_intracommunautaire" value="{{ organisation.tva_intracommunautaire }}">
        </div>

        <div class="form-group">
            <label for="forme_juridique">Forme Juridique:</label>
            <select class="form-control" id="forme_juridique" name="forme_juridique">
                <option value="">Sélectionnez une forme juridique</option>
                <option value="SARL" {% if organisation.forme_juridique == 'SARL' %}selected{% endif %}>SARL</option>
                <option value="EURL" {% if organisation.forme_juridique == 'EURL' %}selected{% endif %}>EURL</option>
                <option value="SAS" {% if organisation.forme_juridique == 'SAS' %}selected{% endif %}>SAS</option>
                <option value="SASU" {% if organisation.forme_juridique == 'SASU' %}selected{% endif %}>SASU</option>
                <option value="Association" {% if organisation.forme_juridique == 'Association' %}selected{% endif %}>Association</option>
                <option value="Entreprise Individuelle" {% if organisation.forme_juridique == 'Entreprise Individuelle' %}selected{% endif %}>Entreprise Individuelle</option>
                <option value="Autre" {% if organisation.forme_juridique == 'Autre' %}selected{% endif %}>Autre</option>
            </select>
        </div>

        <div class="form-group">
            <label for="adresse">Adresse:</label>
            <input type="text" class="form-control" id="adresse" name="adresse" value="{{ organisation.adresse }}">
        </div>
        <div class="form-group">
            <label for="code_postal">Code Postal:</label>
            <input type="text" class="form-control" id="code_postal" name="code_postal" value="{{ organisation.code_postal }}">
        </div>
        <div class="form-group">
            <label for="ville">Ville:</label>
            <input type="text" class="form-control" id="ville" name="ville" value="{{ organisation.ville }}">
        </div>
        <div class="form-group">
            <label for="telephone">Téléphone:</label>
            <input type="text" class="form-control" id="telephone" name="telephone" value="{{ organisation.telephone }}">
        </div>
        <div class="form-group">
            <label for="mail_contact">Mail de contact:</label>
            <input type="email" class="form-control" id="mail_contact" name="mail_contact" value="{{ organisation.mail_contact }}">
        </div>
        <div class="form-group">
            <label for="iban">IBAN:</label>
            <input type="text" class="form-control" id="iban" name="iban" value="{{ organisation.iban }}">
        </div>
        <div class="form-group">
            <label for="bic">BIC:</label>
            <input type="text" class="form-control" id="bic" name="bic" value="{{ organisation.bic }}">
        </div>

        <div class="form-group">
            <label for="logo">Logo:</label>
            <input type="file" id="logo" name="logo" accept="image/*">
            {% if organisation.logo %}
            <img src="{{ url_for('organisations.get_logo', organisation_id=organisation.id) }}" alt="Logo actuel" style="max-width: 100px; max-height: 100px;">
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </form>

    <script>
        function toggleTvaField() {
            var tvaField = document.getElementById("tva_field");
            var exonereTvaCheckbox = document.getElementById("exonere_tva");

            if (exonereTvaCheckbox.checked) {
                tvaField.style.display = "none";
            } else {
                tvaField.style.display = "block";
            }
        }
    </script>
{% endblock %}
