{% extends 'base.html' %}

{% block extra_head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='whiteboard.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanilla-picker@2.12.3/dist/vanilla-picker.min.css">
    <style>
        .content {
            background-color: brown;
            padding: 0;
            margin-top: var(--navbar-height);
            width: 100%;

        }
        .container-fluid {
            padding: 0; /* Remove padding from container-fluid */

        }
        .main-content{
            margin: 0;
        }

        .navbar-actions-container {
            display: flex; /* Use flexbox for horizontal layout */
            align-items: center; /* Vertically center the items */
            gap: 10px; /* Add some space between the buttons */
        }
        .custom-navbar-button {
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .custom-navbar-button i {
            margin-right: 5px;
        }

    </style>
{% endblock %}

{% block body_class %}whiteboard-page{% endblock %}

{% block page_title %}
<h1>{{ projet.nom }}</h1>
{% endblock %}

{% block navbar_actions %}
<div class="navbar-actions-container">
    <button id="saveButton" class="btn btn-secondary custom-navbar-button">
        <i class="fas fa-save"></i> Sauvegarder
    </button>
    <button id="backButton" class="btn btn-secondary custom-navbar-button">
        <i class="fas fa-file-alt"></i>
        <span class="tooltiptext"></span>
    </button>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<input type="hidden" id="csrfToken" value="{{ csrf_token() }}">
<div id="canvas-container" class="canvas-container">
    <div id="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ajouter une forme
            </button>
            <div class="dropdown-menu">
                <button id="add-rect" class="dropdown-item">Ajouter une boîte</button>
                <button id="add-circle" class="dropdown-item">Ajouter un cercle</button>
                <button id="add-hexagon" class="dropdown-item">Ajouter un héxagone</button>
            </div>
        </div>
        <button id="add-text">Ajouter du texte</button>
        <button id="zoom-in">Zoom In</button>
        <button id="zoom-out">Zoom Out</button>
        <button id="delete">Supprimer</button>
    
        <button id="send-to-back">Send to Back</button>
        <button id="bring-to-front">Bring to Front</button>
        <button id="send-backward">Send Backward</button>
        <button id="bring-forward">Bring Forward</button>
    
        <div id="color-picker-container"></div>
        <button id="open-color-picker">Select Color</button>
    
    
    
        <label for="font-family-selector">Font Family:</label>
        <select id="font-family-selector">
            <option value="Arial" selected>Arial</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Verdana">Verdana</option>
            <option value="Courier New">Courier New</option>
            <option value="Georgia">Georgia</option>
        </select>
    
        <label for="font-size-selector">Font Size:</label>
        <select id="font-size-selector">
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20" selected>20</option>
            <option value="24">24</option>
            <option value="28">28</option>
            <option value="32">32</option>
            <option value="36">36</option>
            <option value="48">48</option>
            <option value="72">72</option>
        </select>
    </div>
    
    <canvas id="canvas"></canvas>
    <div id="zoom-indicator">Zoom: 100%</div>
</div>

<script>
    window.projetId = {{ projet_id }}; // Store projetId in a global variable

    // gestion du bouton pour l'affichage des detail sdu projet
    document.addEventListener('DOMContentLoaded', function() {
    const backButton = document.getElementById('backButton');
    backButton.addEventListener('click', function() {
        window.location.href = `/${window.projetId}`;
    });
});

</script>
<script src="https://unpkg.com/vanilla-picker@2/dist/vanilla-picker.min.js"></script>
<script type="module" src="{{ url_for('static', filename='js/whiteboard/main.js') }}"></script>
{% endblock %}
